:root{
    --black-color: #000;
    --white-color: #fff;
    --text-color: #333;
    --primary-color: rgb(255, 145, 0);
    --border-color: #dbdbdb;
    
    
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto',sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
.btn{
    background-color: var(--black-color);
    color: var(--white-color);
    border: none;
    border-radius: 2px;
    height: 3rem;
    width: 90%;
    font-size: 1.8rem;
}
.btn:hover{
    color: var(--primary-color);
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}
.btn a{
    color: var(--white-color);

}
.btn a:hover{
    color: var(--primary-color);

}
table,th,td{
    border: 1px solid black;
}
tr{
    height: 4rem;
}
td,#class-basic{
    background-color: rgb(159, 211, 128);;
}
@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
