/* reponsive */

/* tablet width >= 740px and width<1024px */

@media only screen and (min-device-width:740px) and (max-device-width: 1023px){
    
    .app_header .header_heading{
        margin-left: -12rem;
    }
    marquee{
        behavior: inherit;
    }
    
    .tour_event-section{
        
        width: 100%;
        margin-left: 2rem;
        
    }
    .header_saying {
        margin-left: -10%;
        width: 500px;
        
    }
    .class-object {
        height: 6.6rem;
    }
    .slide_content{
        top: 25%;
    }
    .slide_content-heading {
        font-size: 3rem;
        
    }
    .methodSupport {
        
        width: 18%;
        height: 100%;
        right: 7px;
        
    }
    .methodSupport button {
        width: 160px;
        height: 6rem;
        font-size: 2.2rem;
    }
   
    .support_form-message {
        width: 50%;
    }

    .slide_wrap{
        height: 400px;
    }
    .introduce_violin {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .intro_heading {
        font-size: 1.4rem;
        font-weight: 600;
    }
    .introduce_violin span{
        font-weight: 600;
    }
    .event-section_des--place p {
        font-size: 3rem;
        
    }
    .event-section_des--place span {
        font-size: 2.5rem;
    }
    .benefit_heading {
        font-size: 2rem;
    }
    .benefit_violin {
        font-size: 1.2rem;
        line-height: 2rem;
    }
    .contact_menu{
        font-size: 1.6rem;
    }
    
    .contact_text{
        /* display: unset; */
        font-size: 2.4rem;
        width: 12%;
        
    }
    .class-object {
        height: 8rem;
    }
    .support_help{
        width: 100%;
        display: none;
    }
    .support_map{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .support_map img{
        width: 80%;
        
    }
    
    /* form */
    .form-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 80px;
    }
    .support_form-user--info{
        width: 50%;
        margin-right: 0;
    }
   
    .form-label{
        margin: 2rem 0;
    }
    .form-group input{
        height: 30px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }
    .form-message{
        font-size: 12px;
        margin-top: 4px;
    }
    .support_form-sumit{
        position: absolute;
        bottom: 340px;
        width: 50%;
    }
    .support_form-message {
        width: 50%;
    }


}
    
    
    
    
    /* mobile: width<740px */
    
@media only screen and (min-device-width:340px) and (max-device-width: 739px){
    
    .app_navbar .navbar_menu {
        font-size: 2.4rem;
        
    }
    .app_header .header_heading {
        margin-left: -12%;
    }
    .header_saying {
        
        margin-left: -20%;
        width: 600px;
        
    }
    .slide_content{
        top: 25%;
    }
    .slide_content-heading {
        font-size: 2.2rem;
        line-height: 3.5rem;
        
    }
    .methodSupport {
        
        width: 18%;
        height: 100%;
        right: 7px;
        
    }
    .methodSupport button {
        width: 160px;
        height: 6rem;
        font-size: 2.2rem;
    }
    
    .support_form-message {
        width: 50%;
        font-size: 1.6rem;
    }

    .slide_wrap{
        height: 400px;
    }
    .introduce_violin {
        font-size: 1rem;
        line-height: 1.6rem;
    }
    .intro_heading {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .introduce_violin span{
        font-weight: 600;
    }
    .event-section_des--place p {
        font-size: 2.4rem;
        
    }
    .event-section_des--place span {
        font-size: 2rem;
    }
    .event-section_des--time, .event-section_des--address {
        font-size: 1.6rem;
        
    }
    .event-section_des--time, .event-section_des--address {
        font-size: 1.8rem;
    }
    .event-section_des--info {
        font-size: 1.4rem;
    }
    .event-section_description {
        
        width: 55%;
    }
    .benefit_heading {
        font-size: 1.2rem;
    }
    .benefit_violin {
        font-size: 1rem;
        line-height: 2rem;
    }
    .teaching-time_heading {
        font-size: 1.8rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .teaching-time_table {
        
        font-size: 1.2rem;
    }
    .class_list-info--heading {
        font-size: 1.2rem;
        margin-top: 3rem;
    }
    .class-object {
        height: 8rem;
    }
    .list_product-item{
        margin: 4rem 0;
    }
    .buy-product_btn {
        width: 20rem;
        font-size: 2rem;
        height: 4rem;
        
    }
    .contact_menu{
        font-size: 1.4rem;
    }
    .contact_text{
        /* display: unset; */
        font-size: 2.4rem;
        width: 12%;
        
    }
    .contact_icon{
        font-size: 2rem;
        width: 2rem;
    }
    .form-2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* margin-bottom: 80px; */
    }
    .support_form-user--info{
        width: 50%;
        margin-right: 0;
    }
   
    .form-label{
        margin: 1.5rem 0;
        font-size: 1.6rem;
    }
    .form-group input{
        height: 50px;
        
    }
    .form-message{
        font-size: 12px;
        margin-top: 4px;
    }
    .form-label {
        margin: 1rem 0;
    }
    .support_form-sumit{
        position: absolute;
        bottom: 400px;
        width: 50%;
    }
    .support_form-sumit button{
        height: 4rem;
        font-size: 1.8rem;
        margin-top: 3rem;
    }
    .app_footer {
        
        margin-top: 9rem;
    }
}
