/* reponsive */

/* tablet width >= 740px and width<1024px */

@media only screen and (min-width:340px) and (max-width: 1023px){
    
    .app_header .header_heading{
        margin-left: -12rem;
    }
    
    .tour_event-section{
        
        width: 100%;
        margin-left: 2rem;
        
    }
    .header_saying {
        margin-left: -10%;
        
    }
    .class-object {
        height: 6.6rem;
    }
    .slide_content-heading {
        font-size: 3.5rem;
        
    }
    .methodSupport {
        
        width: 18%;
        height: 100%;
        right: 12px;
        
    }
    .methodSupport button {
        width: 160px;
        height: 6rem;
        font-size: 2.2rem;
    }
    .list_product {
        margin-left: 0;

    }
    .list_product-item{
        margin-left: 30%;
    }
    .support_form-message {
        width: 50%;
    }



}
    
    
    
    
    /* mobile: width<740px */
    
@media only screen and (min-width:375px) and (max-width: 739px){
    
    /* .list_product-item {
            margin-left: -3px;
    } */
}